* {
    font-family: "RobotoMono Nerd Font Propo";
    font-size: 15px;
    color: #FAFAFA;
    background: none;
    box-shadow: none;
    text-shadow: none;
    transition: none;
}

#workspaces button {
    padding: 0px;
    border: none;
}

